<div class="row">
  <div class="col-md-7">
  <h1>List of users</h1>
</div>
<div class="col-md-4">
  <input type="text" class="form-control btn-down" placeholder="Search users" ng-model="search"/>

</div>
<div class="col-md-1">
<button class="btn btn-primary pull-right btn-down" ng-click="initilizeUser()" data-toggle="modal" data-target="#myModal">Create</button>
</div>
</div>
<div ng-if="success_message" class="alert alert-success">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> {{success_message}}.
</div>
<div ng-if="error_message" class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Error!</strong> {{error_message}}
</div>
<div class="table-responsive">
<table class="table">
  <tr>
    <th>Name 
    <span ng-click="orderByField='name'; reverseSort = !reverseSort" ng-show="reverseSort">(v)</span>
    <span ng-click="orderByField='name'; reverseSort = !reverseSort" ng-hide="reverseSort">(^)</span>
    </th>
    <th>Email
       <span ng-click="orderByField='email'; reverseSort = !reverseSort" ng-show="reverseSort">(v)</span>
    <span ng-click="orderByField='email'; reverseSort = !reverseSort" ng-hide="reverseSort">(^)</span>
    </th> 
    <th>DOB
       <span ng-click="orderByField='dob'; reverseSort = !reverseSort" ng-show="reverseSort">(v)</span>
    <span ng-click="orderByField='dob'; reverseSort = !reverseSort" ng-hide="reverseSort">(^)</span>
    </th>
    <th>Actions</th>
  </tr>
  <tr ng-repeat="user in users | orderBy:OrderByField:reverseSort | filter:search">
    <td>{{user.name}}</td>
    <td>{{user.email}}</td> 
    <td>{{user.dob}}</td>
    <td><a href="" ng-click="editUser(user)" data-toggle="modal" data-target="#myModal">Edit</a> | <a href="" ng-click="deleteUser(user)">Delete</a> </td>
  </tr>
</table>
</div>

 <div ng-include="'form.html'"></div>

<style type="text/css">
  *{
    margin: 0;
    padding: 0;
  }
  .btn-down{
    margin-top: 20px;
  }
  .error_message{
    color: red;
  }
</style>